# Virtual environment directories
.venv/

# PyCharm project settings
.idea/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
*.egg-info/
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db